@font-face{
    font-family: "Glitch Goblin";
    src: url("GlitchGoblin-2O87v.ttf")
}
body{
    background-color: rgb(0, 0, 0);
}
h1 {
    text-align: center;
    font-weight: bold;
    color: greenyellow;
    font-family: "Glitch Goblin";
}
.container {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: 0.3s ease-in-out; 
    display: grid;
    gap: 5;
}
.project-container {
    border: 2px solid;
    border-color: lightgreen;
    border-radius: 10px;
    background-color: black;
    height: 300px;
    position: relative;
    display: block;
    margin: 5px;
}

.project-card{
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 8px;
    background-color: #5d5d5d;
    margin: 0px;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.project-link-icon{
    font-size:smaller;
    text-align: center;
    justify-content: start;
    margin: 10px;
    display: inline-block;
}

.project-link-icon:hover{
    transform: scale(1.5);
    filter: brightness(200%)
}


@media screen and (min-width:0px) and (max-width: 699) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 700px) and (max-width:100%){ 
    .container {
        grid-template-columns: 1fr 1fr;
        width: 100%
    }
    .project-card {
        height: 500px;
    }
}